#  Backup file code form index.html<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text utils</title>
</head>
<body>
   <form action="/analyze" method="get">
       <h2>your form start now here: </h2>
       <label for="textual" >Write here:</label>
       <div>
           <textarea name="text" id="" cols="30" rows="10" id="textual"> </textarea>
        </div>
        <input type="checkbox" name="removepunc" > Remove Puntuation <br>
        <input type="checkbox" name="capfrist" > Capfrist <br>
        <input type="checkbox" name="newlineremover" >newlineremover <br>
        <input type="checkbox" name="spaceremover" >spaceremover<br>
        <input type="checkbox" name="charcount" >charcount<br>
       <button type="submit">Analize text</button>
   </form>
</body>
</html>